{{> head}}
    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Cascadas Victoria</h1>
            <p>
                Considered as the largest waterfall in the world, Victoria Falls is located on the border of Zambia and Zimbabwe
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/Victoria-Falls.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}